<% include header %>

<div class="container-sm">
    <a class="right button" href="/new" title="New room">+ New</a>
    <div class="clear"></div>
    <h1 class="text-center"><%= pageTitle %></h1>
</div>

<% include footer %>