<% include header %>

<div class="container-sm">
    <h1 class="text-center"><%= pageTitle %></h1>
    <a class="button full text-center" href="/join" title="Join Game">Join</a>
</div>

<% include footer %>