<% include header %>

<div class="container-sm">
    <form method="POST">
        <input type="radio" name="type" id="type-public" value="public">
        <label for="type-public">public</label>
        <input type="radio" name="type" id="type-private" value="private">
        <label for="type-private">private</label>
        <button type="submit">Create</button>
    </form>
</div>

<% include footer %>